body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}


#toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    padding: 10px;

    background: #eeeeee;

    z-index: 1000;
}


button {
    padding: 8px 14px;
    margin-right: 5px;

    cursor: pointer;
}



#canvas {

    position: absolute;

    top: 50px;
    left: 0;

    width: 100%;
    height: calc(100% - 50px);

    overflow: auto;

    background: white;
}



#output {

    position: relative;

    width: 5000px;
    height: 5000px;

}




.node {

    position: absolute;

    min-width: 120px;

    padding: 8px 12px;

    background: #EFEF8F;

    border: 1px solid #777;

    border-radius: 5px;

    text-align: center;

    cursor: pointer;

    user-select: none;

}




.node:hover {

    background: #FFFFB0;

}




.node.selected {

    outline: 3px solid blue;

}